@import url("https://fonts.googleapis.com/css2?family=Marmelad&display=swap");

:root {
  --primary-color: #eed7a5;
  --secondary-color: #585050;
}
body {
  text-align: center;
  font-family: "Marmelad", sans-serif;
  display: block;
  margin: auto;
  background-color: var(--primary-color);
}

#billamount,
#cashgiven {
  background-color: white;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: 1px var(--secondary-color) solid;
  height: 2rem;
}

button {
  font-family: "Marmelad", sans-serif;
  background-color: var(--secondary-color);
  color: white;
  height: 2rem;
  border-radius: 0.5rem;
  margin: 1rem;
  width: 5rem;
  font-weight: bold;
}

table {
  width: 50%;
  text-align: justify;
  border-collapse: collapse;
  margin: auto;
}
table caption {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

th,
td {
  border: 2px solid var(--secondary-color);
  width: 0%;
  border-collapse: collapse;
  padding: 0.4rem;
}
